body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/public/images/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* dark mode looking scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

/* chat bubble style */

.chat {
  --rad: 20px;
  --rad-sm: 3px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
  max-width: 500px;
  margin: auto;
}

.msg {
  position: relative;
  max-width: 90%;
  padding: 7px 15px;
  margin-bottom: 2px;
}

.msg.sent {
  border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
  background: #42a5f5;
  color: #fff;
  margin-left: auto;
}

.msg.rcvd {
  border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
  background: #f1f1f1;
  color: #555;
  margin-right: auto;
}

.msg.sent:first-child,
.msg.rcvd + .msg.sent {
  border-top-right-radius: var(--rad);
}

.msg.rcvd:first-child,
.msg.sent + .msg.rcvd {
  border-top-left-radius: var(--rad);
}

.msg::before {
  content: attr(data-time);
  font-size: 0.6rem;
  position: absolute;
  top: 115%;
  color: #e7e7e7;
  white-space: nowrap;
  display: none;
}

.msg.sent::before {
  right: 0;
}

.msg.rcvd::before {
  left: 0;
}

.msg:first-child::before,
.msg.sent + .msg.rcvd::before,
.msg.rcvd + .msg.sent::before {
  display: block;
}
